<launch>

	<include file="$(find stdr_launchers)/launch/server_with_map_and_gui.launch"/>
	<!-- launches the map and the gui associated with the map. -->	

	<!--<include file="$(find stdr_robot)/launch/robot_manager.launch"/> -->
	<!-- server_with_map_and_gui.launch already includes robot_manager.launch i guess?-->

	<node pkg="rqt_gui" type = "rqt_gui" name = "rqt_gui" />
	<!-- launches the robot steering gui -->

	<!--put another tag in here to launch the robot itself-->
	

	<find file="$(lab02_package)/launch/lab02_node_only.launch"/>
	
	
</launch>

